<%- include('includes/head') %> <%- include('includes/nav') %>

<h1>Hello, world! My name is Edilson Massingue</h1>
<p>
  This is my
  <a href="https://github.com/EdilsonMassingue">My github</a>
</p>

<div class="container">
  <div class="row">
    <div class="cl-lg-8 my-5">
      <h1 class="display text-center">Erro 404</h1>
      <p class="text-center lead">Pagina nao encontrada</p>
    </div>
  </div>
</div>

<%- include('includes/footer') %>
